 <!-- Illustrations -->
 <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            Datos de Equipo
        </h6>
    </div>
    <div class="card-body">
        <div class="card mb-4 py-3 border-bottom-primary">
            <div class="card-body">
                .border-bottom-primary
            </div>
        </div>
    
        <div class="card mb-4 py-3 border-bottom-secondary">
            <div class="card-body">
                .border-bottom-secondary
            </div>
        </div>
    
        <div class="card mb-4 py-3 border-bottom-success">
            <div class="card-body">
                .border-bottom-success
            </div>
        </div>
    
        <div class="card mb-4 py-3 border-bottom-info">
            <div class="card-body">
                .border-bottom-info
            </div>
        </div>
    </div>
</div>