<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Saldo</h6>
    </div>
    <div class="card-body">        
        <h4 *ngIf="saldos && saldos.datosSaldos.length === 0" class="small font-weight-bold">No hay datos que mostrar.</h4>
        <div class="row" *ngIf="saldos && saldos.datosSaldos.length > 0">
         <div *ngFor="let saldo of saldos?.datosSaldos" class="col-xl-4 col-md-6 mb-4 py-0 pl-0 pr-1">
            <div class="card border-left-primary shadow">
              <div class="card-body p-2">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{saldo.titulo}}</div>
                    <div class="h6 mb-0 font-weight-bold text-gray-800">{{saldo.fecha}}</div>
                    <div class="h6 mb-0 font-weight-bold text-gray-800">{{saldo.descripcion}}</div>
                  </div>
                  <!-- <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>